.navbarUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbarLi {
  float: left;
}

.navbarLiA {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbarLiAB {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  background-color: #4CAF50;
  text-decoration: none;
}

.navbarLiA:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.teachersLi {
  height: 55px;
  margin-bottom: 10px;
  list-style-type: none;
  background-color: rgb(189, 238, 169);
  border: 1px;
  border-style: solid;
  border-color: aliceblue;
  border: 1px solid black;
  width: 700px;
  float: left;
  font-size: 20px;
}

.ulDiv {
  display: inline-block;
}

.inputTextBox {
  height: 30px;
  width: 300px;
  font-size: 18px;
  border-color: darkseagreen;
}

.actionButton {
  margin-left: 30px;
  height: 37px;
  width: 150px;
  font-size: 14px;
  background-color: rgb(189, 238, 169);
}

.teacherSelect {
  font-size: 14px;
  height: 30px;
  width: 300px;
}